{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}
{% block body %} 
<div class="text-center">
   <h1>Project Forum</h1> 
</div>
<div class="display-flex center py-3 text-center ">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="/static/img/weather-img.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Weather-For-U</h5>
              <p class="card-text">An app used to view weather of any city around the world, built with Vanilla JavaScript, HTML,CSS where Weather Info is obtained from an API and pictures collected from Unsplash.com.</p>
              <a href="https://korak-sengupta.github.io/weather-app/" class="btn btn-primary">View Project</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/img/calc-img.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Calculator</h5>
              <p class="card-text">A simple calculator made with Vanilla JavaScript, HTML, CSS where the use of math function of JavScript is shown distinctively.</p>
              <a href="https://korak-sengupta.github.io/Calcy/" class="btn btn-primary">View Project</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/img/clock-img.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Analog-Clock</h5>
              <p class="card-text">A simple analog clock made with Vanilla JavaScript,HTML and CSS where the use of time and mathematical way to move the arms of the clock is shown</p>
              <a href="https://korak-sengupta.github.io/Wall-Clock/" class="btn btn-primary">View Project</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/img/stats-img.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">IPL-Analysis</h5>
              <p class="card-text">Here visual representation of statistics of player's and ground's performance from 2008-2020 season was shown using Microsoft PowerBI </p>
              <a href="https://korak-sengupta.github.io/powerBI-dashboard-samples/" class="btn btn-primary">View Project</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/static/img/list-img.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Listify</h5>
              <p class="card-text">A To-Do List made with Vanilla JS,HTML and CSS where the use of local storage was the main feature</p>
              <a href="https://korak-sengupta.github.io/Listify/" class="btn btn-primary">View Project</a>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock body %}